@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  background-color: #e0b98b;
  min-height: 100vh;
}

.primary-button {
  background-color: #3d2001;
  color: white;
  outline: none;
  padding: 4px 8px;
  border-radius: 8px 0;
}

.primary-button:hover {
  background-color: wheat;
  color: #3d2001;
}

.secondary-button {
  background-color: #3d2001;
  color: white;
  outline: none;
  padding: 4px 8px;
  border-radius: 0 8px;
}

.secondary-button:hover {
  background-color: wheat;
  color: #3d2001;
}
